@media (min-width: 1400px) {

    /* =========banner part start =========== */
    #banner_part .banner_slider .item .overlay h3::before {
        width: 251px;
        right: -356px;
    }

    #banner_part .banner_slider .item .overlay h3::after {
        width: 249px;
        left: -295px;
    }

    #banner_part .banner_slider .item .overlay h1::before {
        height: 268px;
        top: -57px;
    }

    #banner_part .banner_slider .item .overlay h1::after {
        height: 267px;
        top: -57px;
    }

    #banner_part .banner_slider .item .overlay .button::before {
        width: 127px;
    }

    #banner_part .banner_slider .item .overlay .button::after {
        width: 159px;
    }

    /* =========banner part end =========== */
    /* =======about part start ========== */
    #about_part {
        padding: 40px 0;
    }

    #about_part .item1 {
        margin-top: 30px;
    }

    #about_part .main {
        display: flex;
        align-items: center;
    }

    /* =======about part end ========== */
    /* ======testimonial part start ======= */
    #test_part .overlay .slider_item .item p {
        text-align: justify;
        margin-right: 0;
    }

    #test_part .overlay .slider_item .item .heading {
        /*! justify-content: center; */
        margin-left: 20px;
    }

    #test_part .overlay .slider_item .item p {
        margin-left: 15px;
    }

    /* ======testimonial part end ======= */
    /* =========membership part start ========= */
    #mship_part .item {
        margin-top: 40px;
    }

    /* =========membership part end ========= */
    /* =======logo slider part start ======== */
    #logo_slider_part .logo_slider .img img {
        height: 70%;
        width: 100%;
    }

    #logo_slider_part .logo_slider .img {
        height: 70px;
        width: 183px;
    }

    #logo_slider_part .logo_slider .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }

    /* =======logo slider part end ======== */
    /* =======foooter part start ======== */
    #contact_part .overlay .footer_main .shedule {
        margin-bottom: 38px;
    }

    #contact_part .footer_heading h3 {
        margin-bottom: 15px;
    }

    #contact_part .overlay .img_main {
        margin-bottom: 0;
    }

    #contact_part .overlay .contact_main {
        align-items: flex-start;
    }

    #contact_part .footer_heading h3 {
        text-align: center;
    }

    #contact_part .overlay .contact_main {
        gap: 10px;
    }

    #contact_part .overlay .icon_main {
        justify-content: center;
    }

    /* =======foooter part end ======== */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* =========banner part start =========== */
    #banner_part .banner_slider .item .overlay h3::before {
        width: 155px;
        right: -267px;
    }

    #banner_part .banner_slider .item .overlay h3::after {
        width: 157px;
        left: -206px;
    }

    #banner_part .banner_slider .item .overlay h1::before {
        height: 268px;
        top: -57px;
    }

    #banner_part .banner_slider .item .overlay h1::after {
        height: 267px;
        top: -57px;
    }

    /* =========banner part end =========== */
    /* =======about part start ========== */
    #about_part {
        padding: 40px 0;
    }

    #about_part .item1 {
        margin-top: 30px;
    }

    #about_part .main {
        display: flex;
        align-items: center;
    }

    /* =======about part end ========== */
    /* ======testimonial part start ======= */
    #test_part .overlay .slider_item .item p {
        text-align: justify;
        margin-right: 0;
    }

    #test_part .overlay .slider_item .item .heading {
        /*! justify-content: center; */
        margin-left: 20px;
    }

    #test_part .overlay .slider_item .item p {
        margin-left: 15px;
    }

    /* ======testimonial part end ======= */
    /* =========membership part start ========= */
    #mship_part .item {
        margin-top: 40px;
    }

    /* =========membership part end ========= */
    /* =======logo slider part start ======== */
    #logo_slider_part .logo_slider .img img {
        height: 70%;
        width: 100%;
    }

    #logo_slider_part .logo_slider .img {
        height: 70px;
        width: 183px;
    }

    #logo_slider_part .logo_slider .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }

    /* =======logo slider part end ======== */
    /* =======foooter part start ======== */
    #contact_part .overlay .footer_main .shedule {
        margin-bottom: 38px;
    }

    #contact_part .footer_heading h3 {
        margin-bottom: 15px;
    }

    #contact_part .overlay .img_main {
        margin-bottom: 0;
    }

    #contact_part .overlay .contact_main {
        align-items: flex-start;
    }

    #contact_part .footer_heading h3 {
        text-align: center;
    }

    #contact_part .overlay .contact_main {
        gap: 10px;
    }

    #contact_part .overlay .icon_main {
        justify-content: center;
    }

    /* =======foooter part end ======== */
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ======menu part start ===== */
    #main_menu .navbar-toggler-icon {
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_menu .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu .logo_bg::after {
        height: 70px;
        width: 180px;
    }

    #main_menu .logo_bg {
        margin-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        line-height: 70px;
    }

    #main_menu .logo_bg img {
        width: 90%;
    }

    /* ======menu part end ===== */
    /* =====banner part start ====== */
    #banner_part .banner_slider .item .overlay h3::before {
        width: 99px;
        right: -194px;
    }

    #banner_part .banner_slider .item .overlay h3::after {
        width: 133px;
        left: -192px;
    }

    #banner_part .banner_slider .item .overlay h1::before {
        height: 203px;
        width: 3px;
        top: -32px;
        left: 205px;
    }

    #banner_part .banner_slider .item .overlay h1::after {
        height: 204px;
        top: -32px;
    }

    #banner_part .banner_slider .item .overlay .button::before {
        left: 205px;
        width: 62px;
    }

    #banner_part .banner_slider .item .overlay .button::after {
        width: 43px;
        right: 203px;
    }

    #banner_part .banner_slider .item .overlay h3 {
        font-size: 24px;
    }

    #banner_part .banner_slider .item .overlay h1 {
        font-size: 45px;
        margin-top: 17px;
        margin-bottom: 20px;
    }

    #banner_part .banner_slider .item .overlay p {
        font-size: 12px;
        margin-top: 19px;
    }

    #banner_part .banner_slider .item .overlay {
        padding-top: 250px;
        padding-bottom: 84px;
    }

    #banner_part .banner_slider .slick-dots {
        bottom: 33px;
    }

    /* =====banner part end ====== */
    /* =======about part start ========== */
    #about_part {
        padding: 40px 0;
    }

    #about_part .item1 {
        margin-top: 30px;
    }

    #about_part .main {
        display: flex;
        align-items: center;
    }

    /* =======about part end ========== */
    /* ======testimonial part start ======= */
    #test_part .overlay .slider_item .item p {
        text-align: justify;
        margin-right: 0;
    }

    #test_part .overlay .slider_item .item .heading {
        justify-content: center;
    }

    #test_part .overlay .slider_item .item p {
        margin-left: 15px;
    }

    /* ======testimonial part end ======= */
    /* =========membership part start ========= */
    #mship_part .item {
        margin-top: 40px;
    }

    /* =========membership part end ========= */
    /* =======logo slider part start ======== */
    #logo_slider_part .logo_slider .img img {
        height: 70%;
        width: 100%;
    }

    #logo_slider_part .logo_slider .img {
        height: 70px;
        width: 183px;
    }

    #logo_slider_part .logo_slider .prevarrow {
        left: 45%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .nextarrow {
        right: 45%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }

    /* =======logo slider part end ======== */
    /* =======foooter part start ======== */
    #contact_part .overlay .footer_main .shedule {
        margin-bottom: 38px;
    }

    #contact_part .footer_heading h3 {
        margin-bottom: 15px;
    }

    #contact_part .overlay .img_main {
        margin-bottom: 0;
    }

    #contact_part .overlay .contact_main {
        align-items: flex-start;
    }

    #contact_part .footer_heading h3 {
        text-align: center;
    }

    #contact_part .overlay .contact_main {
        gap: 10px;
    }

    #contact_part .overlay .icon_main {
        justify-content: center;
    }

    /* =======foooter part end ======== */
}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* ======menu part start ===== */
    #main_menu .navbar-toggler-icon {
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_menu .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu .toggler_icon {
        font-size: 25px;
    }

    #main_menu .logo_bg::after {
        height: 70px;
        width: 180px;
    }

    #main_menu .logo_bg {
        margin-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        line-height: 70px;
    }

    #main_menu .logo_bg img {
        width: 90%;
    }

    .navbar-nav {
        background: rgba(0, 255, 255, 0.347);
    }

    /* ======menu part end ===== */
    /* =====banner part start ====== */
    #banner_part .banner_slider .item .overlay h3::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h3::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h1::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h1::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay .button::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay .button::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h3 {
        font-size: 24px;
    }

    #banner_part .banner_slider .item .overlay h1 {
        font-size: 45px;
        margin-top: 17px;
        margin-bottom: 20px;
    }

    #banner_part .banner_slider .item .overlay p {
        font-size: 12px;
        margin-top: 19px;
    }

    #banner_part .banner_slider .item .overlay {
        padding-top: 194px;
        padding-bottom: 84px;
    }

    #banner_part .banner_slider .slick-dots {
        bottom: 33px;
    }

    /* =====banner part end ====== */
    /* =======about part start ========== */
    #about_part {
        padding: 40px 0;
    }

    #about_part .item1 {
        margin-top: 30px;
    }

    #about_part .main {
        display: flex;
        align-items: center;
    }

    /* =======about part end ========== */
    /* ============team part start =========== */
    #team_part {
        padding: 40px 0;
    }

    #team_part .item_main {
        margin-bottom: 70px;
    }

    #team_part .item_main .details {
        bottom: -38px;
    }

    #team_part .item_main .name_title {
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

    #team_part .item_main .item {
        top: -40px;
    }

    #team_part .item_main .item .img .overlay {
        transform: translate(-50%, -50%) scale(1);
    }

    /* ============team part end =========== */
    /* ======testimonial part start ======= */
    #test_part .overlay .slider_item .item p {
        text-align: justify;
        margin-right: 0;
    }

    #test_part .overlay .slider_item .item .heading {
        justify-content: center;
    }

    #test_part .overlay .slider_item .item p {
        margin-left: 15px;
    }

    /* ======testimonial part end ======= */
    /* =========membership part start ========= */
    #mship_part .item {
        margin-top: 40px;
    }

    /* =========membership part end ========= */
    /* ======counter part start ========== */
    #c_up_part .main {
        flex-wrap: wrap;
        gap: 2%;
        justify-content: center;
    }

    #c_up_part .main .item {
        width: 32%;
        margin-bottom: 20px;
    }

    /* ======counter part end ========== */
    /* ========class part start ========= */
    #class_part {
        padding: 49px 0;
    }

    #class_part .class_btn ul li {
        width: 33.333%;
        margin-bottom: 10px;
    }

    #class_part .class_details ul {
        justify-content: center;
        gap: 2.50px;
    }

    #class_part .class_details ul li {
        width: 18%;
        padding: 10px 0;
    }

    /* ========class part end ========= */
    /* =======logo slider part start ======== */
    #logo_slider_part .logo_slider .img img {
        height: 70%;
        width: 100%;
    }

    #logo_slider_part .logo_slider .img {
        height: 70px;
        width: 183px;
    }

    #logo_slider_part .logo_slider .prevarrow {
        left: 45%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .nextarrow {
        right: 45%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }

    /* =======logo slider part end ======== */
    /* =======foooter part start ======== */
    #contact_part .overlay .footer_main .shedule {
        margin-bottom: 38px;
    }

    #contact_part .footer_heading h3 {
        margin-bottom: 15px;
    }

    #contact_part .overlay .img_main {
        margin-bottom: 0;
    }

    #contact_part .overlay .contact_main {
        align-items: flex-start;
    }

    #contact_part .footer_heading h3 {
        text-align: center;
    }

    #contact_part .overlay .contact_main {
        gap: 10px;
    }

    #contact_part .overlay .icon_main {
        justify-content: center;
    }

    /* =======foooter part end ======== */
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* ======menu part start ===== */
    #main_menu .navbar-toggler-icon {
        color: white;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_menu .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu .logo_bg::after {
        height: 60px;
        width: 171px;
    }

    #main_menu .logo_bg {
        margin-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        line-height: 70px;
    }

    #main_menu .logo_bg img {
        width: 73%;
    }

    .navbar-nav {
        background: rgba(0, 255, 255, 0.347);
    }

    #main_menu ul li {
        margin-left: 50%;
    }

    #main_menu ul li a {
        padding: 11px 13px;
    }

    /* ======menu part end ===== */
    /* =====banner part start ====== */
    #banner_part .banner_slider .item .overlay h3::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h3::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h1::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h1::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay .button::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay .button::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h3 {
        font-size: 24px;
    }

    #banner_part .banner_slider .item .overlay h1 {
        font-size: 45px;
        margin-top: 17px;
        margin-bottom: 20px;
    }

    #banner_part .banner_slider .item .overlay p {
        font-size: 12px;
        margin-top: 19px;
    }

    #banner_part .banner_slider .item .overlay {
        padding-top: 194px;
        padding-bottom: 84px;
    }

    #banner_part .banner_slider .slick-dots {
        bottom: 33px;
    }

    /* =====banner part end ====== */
    /* =======about part start ========== */
    #about_part {
        padding: 40px 0;
    }

    #about_part .item1 {
        margin-top: 30px;
    }

    /* =======about part end ========== */
    /* ============team part start =========== */
    #team_part {
        padding: 40px 0;
    }

    #team_part .item_main {
        margin-bottom: 70px;
    }

    #team_part .item_main .details {
        bottom: -38px;
    }

    #team_part .item_main .name_title {
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

    #team_part .item_main .item {
        top: -40px;
    }

    #team_part .item_main .item .img .overlay {
        transform: translate(-50%, -50%) scale(1);
    }

    /* ============team part end =========== */
    /* ======testimonial part start ======= */
    #test_part .overlay .slider_item .item p {
        text-align: justify;
        margin-right: 0;
    }

    #test_part .overlay .slider_item .item .heading {
        justify-content: center;
    }

    #test_part .overlay .slider_item .item p {
        margin-left: 15px;
    }

    /* ======testimonial part end ======= */
    /* =========membership part start ========= */
    #mship_part .item {
        margin-top: 40px;
    }

    /* =========membership part end ========= */
    /* ======counter part start ========== */
    #c_up_part .main {
        flex-wrap: wrap;
        gap: 2%;
        justify-content: center;
    }

    #c_up_part .main .item {
        width: 32%;
        margin-bottom: 20px;
    }

    /* ======counter part end ========== */
    /* ========class part start ========= */
    #class_part .class_btn ul li {
        width: 33.333%;
        margin-bottom: 10px;
    }

    #class_part .class_details ul {
        justify-content: center;
        gap: 2px;
    }

    #class_part .class_details ul li {
        width: 32%;
        padding: 10px 0;
    }

    /* ========class part end ========= */
    /* =======logo slider part start ======== */
    #logo_slider_part .logo_slider .img img {
        height: 70%;
        width: 100%;
    }

    #logo_slider_part .logo_slider .img {
        height: 70px;
        width: 183px;
    }

    #logo_slider_part .logo_slider .prevarrow {
        left: 45%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .nextarrow {
        right: 45%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }

    /* =======logo slider part end ======== */
    /* =======foooter part start ======== */
    #contact_part .overlay .footer_main .shedule {
        margin-bottom: 38px;
    }

    #contact_part .footer_heading h3 {
        margin-bottom: 15px;
    }

    #contact_part .overlay .img_main {
        margin-bottom: 0;
    }

    #contact_part .overlay .contact_main {
        align-items: flex-start;
    }

    #contact_part .footer_heading h3 {
        text-align: center;
    }

    #contact_part .overlay .contact_main {
        gap: 10px;
    }

    #contact_part .overlay .icon_main {
        justify-content: center;
    }

    /* =======foooter part end ======== */
}

@media (max-width: 575.98px) {

    /* ======menu part start ===== */
    #main_menu .navbar-toggler-icon {
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_menu .navbar-toggler:focus {
        box-shadow: none;
    }

    #main_menu .logo_bg::after {
        height: 45px;
        width: 134px;
    }

    #main_menu .logo_bg {
        margin-left: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        line-height: 55px;
    }

    #main_menu .logo_bg img {
        width: 65%;
    }

    .navbar-nav {
        /*! background: rgba(0, 255, 255, 0.347); */
        text-align: center;
        background: #000000e8;
    }

    #main_menu ul li a::after {
        transition: 2s;
    }

    #main_menu.sticky {
        padding: 0px 0;
    }

    #main_menu ul li {
        /*! margin-left: 50%; */
    }

    #main_menu ul li a {
        padding: 11px 13px;
    }

    /* ======menu part end ===== */
    /* =====banner part start ====== */
    #banner_part .banner_slider .item .overlay {
        padding-top: 170px;
        padding-bottom: 84px;
    }

    #banner_part .banner_slider .item .overlay h3::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h3::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h1::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h1::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay .button::before {
        display: none;
    }

    #banner_part .banner_slider .item .overlay .button::after {
        display: none;
    }

    #banner_part .banner_slider .item .overlay h3 {
        font-size: 20px;
    }

    #banner_part .banner_slider .item .overlay h1 {
        font-size: 35px;
        margin-top: 17px;
        margin-bottom: 20px;
    }

    #banner_part .banner_slider .item .overlay p {
        margin-top: 19px;
    }

    #banner_part .banner_slider .item .overlay {
        padding-top: 194px;
        padding-bottom: 84px;
    }

    #banner_part .banner_slider .slick-dots {
        bottom: 33px;
    }

    #banner_part .banner_slider .item .overlay .button a {
        font-family: 'Oswald', sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 12px;
        border: 1px solid white;
        transition: .4s;
    }

    #banner_part .banner_slider .slick-dots li button {
        font-size: 0;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid white;
    }

    #banner_part .banner_slider .item .overlay .button {
        display: flex;
        justify-content: center;
        gap: 13px;
        position: relative;
    }

    /* =====banner part end ====== */
    /* =======about part start ========== */
    #about_part {
        padding: 40px 0;
    }

    #about_part .item1 {
        margin-top: 30px;
    }

    /* =======about part end ========== */
    /* ============team part start =========== */
    #team_part {
        padding: 40px 0;
    }

    #team_part .item_main {
        margin-bottom: 70px;
    }

    #team_part .item_main .details {
        bottom: -38px;
    }

    #team_part .item_main .name_title {
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

    #team_part .item_main .item {
        top: -40px;
    }

    #team_part .item_main .item .img .overlay {
        transform: translate(-50%, -50%) scale(1);
    }

    /* ============team part end =========== */
    /* ======testimonial part start ======= */
    #test_part .overlay .slider_item .item p {
        text-align: justify;
        margin-right: 0;
    }

    #test_part .slick-dots li button {
        height: 17px;
        width: 17px;
    }

    #test_part .slick-dots {
        gap: 5px;
    }

    /* ======testimonial part end ======= */
    /* =========membership part start ========= */
    #mship_part .item {
        margin-top: 40px;
    }

    /* =========membership part end ========= */
    /* ======counter part start ========== */
    #c_up_part .main {
        flex-wrap: wrap;
        gap: 10%;
        justify-content: center;
    }

    #c_up_part .main .item {
        width: 45%;
        margin-bottom: 20px;
    }

    /* ======counter part end ========== */
    /* ========class part start ========= */
    #class_part .class_btn ul li {
        width: 33.333%;
        margin-bottom: 10px;
    }

    #class_part .class_details ul {
        justify-content: center;
        gap: 2px;
    }

    #class_part .class_details ul li {
        width: 32%;
        padding: 10px 0;
    }

    /* ========class part end ========= */
    /* =======logo slider part start ======== */
    #logo_slider_part .logo_slider .img img {
        height: 70%;
        width: 100%;
    }

    #logo_slider_part .logo_slider .img {
        height: 70px;
        width: 183px;
        margin: 0 auto;
    }

    #logo_slider_part .logo_slider .prevarrow {
        left: 40%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .nextarrow {
        right: 40%;
        top: 90px;
        transform: translateX(-50%);
    }

    #logo_slider_part .logo_slider .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }

    /* =======logo slider part end ======== */
    /* =======foooter part start ======== */
    #contact_part .overlay .footer_main .shedule {
        margin-bottom: 38px;
    }

    #contact_part .footer_heading h3 {
        margin-bottom: 15px;
    }

    #contact_part .overlay .img_main {
        margin-bottom: 33px;
    }

    #contact_part .overlay .contact_main {
        align-items: flex-start;
    }

    #contact_part .footer_heading h3 {
        text-align: center;
    }

    #contact_part .overlay .contact_main {
        gap: 10px;
    }

    #contact_part .overlay .icon_main {
        justify-content: center;
    }

    /* =======foooter part end ======== */
    /* ========ending part start ====== */
    #contact_part .overlay .ending_part h5 {
        font-size: 11px;
    }

    /* ========ending part end ====== */
}